* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f5f5f5;
    color: #454545;
    margin: 2rem 4rem;
    width: 500px;
}

h3 {
    margin-top: 1.5rem;
}

.food-image {
    border: .5rem #454545 solid;
}

li {
    margin-bottom: 1rem;
    list-style: none;
}

.recipe-item {
    flex: auto;
    text-align: left;
    width: 100%;
}

.recipe-item span {
    font-size: 20px;
}

p {
    text-align: justify;
}

.recipe-list {
    width: 20rem;
}

.food-icon {
    flex-basis: 0;
}

.recipe-button {
    display: flex;
    align-items: center;
    gap: 1rem;
}
